.content {
  flex: 1;
  overflow: auto;

  .header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
  }

  .brands {
    padding: 25px;
  }
}
